/* Dark mode colors. */
:root {
	--sl-color-accent-low: #2b3b56;
	--sl-color-accent: #69a3fe;
	--sl-color-accent-high: #deeafe;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #cbcdcd;
	--sl-color-gray-2: #a6a6a6;
	--sl-color-gray-3: #999999;
	--sl-color-gray-4: #5b5e63;
	--sl-color-gray-5: #4c4f53;
	--sl-color-gray-6: #2e3032;
	--sl-color-black: #181818;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #002157;
	--sl-color-accent: #0565ff;
	--sl-color-accent-high: #acccff;
	--sl-color-white: #151617;
	--sl-color-gray-1: #292b2f;
	--sl-color-gray-2: #454a52;
	--sl-color-gray-3: #545c6b;
	--sl-color-gray-4: #8b95a9;
	--sl-color-gray-5: #afb7c7;
	--sl-color-gray-6: #d8dce5;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #f7f8fa;
}

.starlight-aside--note {
	--sl-color-asides-text-accent: var(--sl-color-gray-2);
	border-color: var(--sl-color-accent);
	background-color: var(--sl-color-gray-6);
}

.site-title{
	gap: 4px;
	height: 28px;
}

.site-title span{
	color: var(--sl-color-gray-2);
	font-weight: 500;
	font-size: 20px;
	border-inline-start: 1.5px solid;
	padding-inline-start: 8px;
}

.site-title img{
	width: 130px;
	margin-inline-end: 8px;
}