---
import { LinkButton } from "@astrojs/starlight/components";
import { COMMUNITY_URL } from "~/constants.js";
---

<footer class="bottom_banner">
  <h1>Want to get started?</h1>
  <h6>
    Look through our guides, chat with other developers, and start creating
    great solutions with Kissflow.
  </h6>
  <div class="button-container">
    <LinkButton href={COMMUNITY_URL} variant="secondary">
      Join Community
    </LinkButton>
  </div>
</footer>

<style is:inline>
  .bottom_banner {
    text-align: center;
    padding-block: clamp(2.5rem, calc(1rem + 10vmin), 10rem);
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
</style>
