---
const { title, description } = Astro.props;
---

<main class=`cardContainer`>
  <header>
    <h3><b>{title}</b></h3>
    <h6>{description}</h6>
  </header>
  <slot name="list" />
  <slot name="action" />
</main>

<style is:inline>
  .cardContainer {
    padding: 20px 28px;
    border: solid 2px var(--kf-color-gray-300);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cardContainer > ul {
    padding-inline-start: 20px !important;
  }

  .cardContainer > ul > li > p {
    margin-bottom: 4px !important;
  }
</style>
