---
import CustomCard from "./card.astro";
import { LinkButton, CardGrid } from "@astrojs/starlight/components";
import { API_PLATFORM_URL, SDK_DOCS_URL } from "~/constants";
---

<CardGrid>
  <CustomCard
    title={"Kissflow API"}
    description={"Integrate Kissflow's workflow capabilities into your applications."}
  >
    <Fragment slot="list">
      <ul>
        <li>
          <b> Easy-to-use design:</b> Straightforward endpoints for smooth integration.
        </li>
        <li>
          <b> Clear documentation:</b> Helpful guides and references.
        </li>
        <li>
          <b>Robust security:</b> Keep your data safe and secure.
        </li>
      </ul>
    </Fragment>

    <Fragment slot="action">
      <LinkButton
        class={"card-button"}
        href={API_PLATFORM_URL}
        variant="primary"
        icon="right-arrow"
        iconPlacement="end"
        target={"_blank"}
      >
        Learn more about our API
      </LinkButton>
    </Fragment>
  </CustomCard>
  <CustomCard
    title={"Kissflow SDK"}
    description={"Build custom solutions with our feature-rich development kit."}
  >
    <Fragment slot="list">
      <ul>
        <li>
          <b>Works with many languages:</b> Use the programming language you prefer.
        </li>
        <li>
          <b>Ready-made components:</b> Save time with pre-built reusable components.
        </li>
        <li>
          <b>Regular updates:</b> Stay up-to-date with new Kissflow features.
        </li>
      </ul>
    </Fragment>

    <Fragment slot="action">
      <LinkButton
        class={"card-button"}
        href={SDK_DOCS_URL}
        variant="primary"
        icon="right-arrow"
        iconPlacement="end"
      >
        Explore our SDK resources
      </LinkButton>
    </Fragment>
  </CustomCard>
</CardGrid>

<style>
  .card-button {
    width: fit-content;
  }
</style>
